@media (max-height:830px) {
    #header {
        min-height: 100vh;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0 40px;
    }
    .header_section {
        background-size: cover;
    }
    .header_content {
        padding: 90px 0px 0px;
    }
    .checkbox p {
        font-size: 13px;
    }
    .centr_checkbox {
        margin-top: 76px;
    }
    .down_arrow {
        margin-top: 75px;
    }
    .side_footer {
        max-width: 250px;
    }
    .wiit_box {
        margin-left: 10px;
    }
    .readings_box:nth-child(2) {
        margin: 0 20px;
    }
    .readings_title {
        margin-right: 10px;
    }
    .readings_title h2 {
        margin-bottom: 10px;
    }
    .readings_img {
        margin-bottom: 10px;
    }
    .readings_box {
        max-width: 200px;
        min-width: 165px;
    }
    .aesthetic_flex {
        background-size: 400px 390px;
    }
    .why {
        padding: 70px 0px;
    }
    .why_img {
        display: block;
        margin-bottom: 15px;
    }
    .why_box {
        background-image: none !important;
    }
    .why_box h4 {
        margin-bottom: 10px;
    }
    .why_box:nth-child(2) p {
        max-width: unset;
    }
    .why_box:nth-child(1) p {
        max-width: unset;
    }
    .point_cont .point {
        width: 345px;
    }
    .point_cont .point .point_num {
        margin-right: 10px;
    }
    .aesthetic_veneers {
        padding: 70px 40px 70px 40px;
    }
    .aesthetic_left {
        margin-left: 30px;
    }
    .aesthetic_left .aesthetic_box {
        width: 218px;
    }
    .installment_container {
        padding: 90px 40px 0 40px;
    }
    .installment_title {
        position: relative;
        z-index: 999;
    }
    .install_img {
        right: 0;
        width: 500px;
    }
    .patients-slider .swiper-wrapper img {
        width: 400px;
        height: 400px;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 220px;
        left: auto;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 220px;
    }
    .calculate_content {
        padding: 80px 40px 0 40px;
    }
    .calculate {
        padding: 60px 30px;
        background-size: cover;
    }
    .rating-slider {
        display: flex;
        justify-content: center;
    }
    .prodoctorov img:nth-child(2) {
        width: 500px;
    }
    .video_flex iframe {
        width: 100%;
        max-width: 420px;
        height: 235px;
    }
    .accordion_box {
        max-width: 520px;
    }
    .questions_content {
        background-size: 380px 380px;
    }
    .accordion_br {
        display: none;
    }
    .questions_content {
        padding: 60px 40px 12px;
    }
    .experts_content {
        overflow-y: hidden;
        cursor: pointer;
    }
    .experts {
        padding: 70px 0 58px;
    }
    .experts_card:nth-child(4) {
        margin-right: 40px;
    }
    .experts_card {
        margin-left: 40px;
    }
    .experts_content::-webkit-scrollbar {
        width: 0;
    }
    .map_absolute {
        padding: 60px 40px 55px 40px;
        left: 40px;
    }
    .map {
        height: 540px;
    }
    .photo {
        width: 500px;
        bottom: -178px;
    }
}

@media (max-width: 1036px) {
    .photo {
        opacity: .2;
        bottom: -178px;
    }
}

@media (max-width: 960px) {
    .container {
        padding: 0 20px;
    }
    .logo {
        width: 203.89px;
        height: 29.39px;
    }
    .tel_btn {
        margin-left: 15px;
    }
    h1 {
        font-size: 36px;
        line-height: 120%;
    }
    h2 {
        font-size: 24px;
        line-height: 120%;
    }
    h3 {
        font-size: 14px;
        line-height: 150%;
    }
    h4 {
        font-size: 14px;
        line-height: 150%;
    }
    .orange_btn {
        font-size: 14px;
        line-height: 145%;
        margin-bottom: 20px;
    }
    .header_btn button {
        padding: 13px 18px;
    }
    p {
        font-size: 15px;
    }
    .header_btn {
        margin-top: 20px;
    }
    .centr_checkbox {
        margin-top: 84px;
    }
    .side_checkbox {
        margin-top: 42px;
    }
    .side_footer h4 {
        font-size: 15px;
    }
    .side_footer p {
        font-size: 14px;
    }
    .side_footer {
        max-width: 180px;
    }
    .center_footer {
        text-align: center;
    }
    .center_footer img {
        width: 200px;
        margin-left: -15px;
    }
    .side_footer a img {
        margin-right: 10px;
        width: 20px;
    }
    .wiit_content {
        align-items: center;
        flex-direction: column-reverse;
    }
    .readings_container {
        flex-direction: column;
        align-items: center;
    }
    .readings_title {
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .readings_title h2 {
        text-align: center;
    }
    .aesthetic_flex {
        background-image: none;
        justify-content: space-around;
        position: relative;
        z-index: 99;
    }
    .aesthetic_left {
        margin: 0;
    }
    .aesthetic_left {
        position: relative;
    }
    .aesthetic_img_absalut {
        display: block;
        position: absolute;
        z-index: -3;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .3;
    }
    .aesthetic_box button {
        font-size: 13px;
    }
    .why_content {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 47px;
    }
    .why_box:nth-child(1) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .why {
        padding: 40px 0;
    }
    .point_cont {
        flex-direction: column;
        padding: 0 40px;
        align-items: start;
        margin-top: 0;
    }
    .point_cont .point :nth-child(1) {
        margin-top: 20px;
    }
    .point_cont .point {
        margin-bottom: 20px;
    }
    .install_img {
        right: 0;
        width: 500px;
        opacity: .2;
    }
    .installment {
        height: 370px;
    }
    .patients-slider .swiper-wrapper img {
        width: 300px;
        height: 300px;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 130px;
        left: auto;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 130px;
    }
    .none_span {
        display: block !important;
    }
    .should_be button span,
    .experts button span {
        display: none;
    }
    .should_be_slider {
        margin: 20px 0 30px;
    }
    .should_be {
        padding: 40px 0 65px;
    }
    .service_cost_flex {
        flex-direction: column;
        align-items: center;
    }
    .service_cost_flex .service_cost_card:nth-child(1) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .service_cost_flex {
        margin-top: 20px;
    }
    .service_cost {
        padding: 40px 0;
    }
    .service_cost_card h3 {
        font-size: 16px;
    }
    .service_cost_card p {
        margin-bottom: 20px;
    }
    .service_cost_card {
        min-height: 850px;
    }
    .calculate {
        background-image: none;
    }
    .form_container {
        flex-direction: column;
    }
    .form_container input,
    .form_container select,
    .form_container button {
        width: 100%;
        margin: 0 !important;
        max-width: unset !important;
        margin-bottom: 10px !important;
    }
    .politic_p,
    .politic_p a {
        margin: 0;
    }
    .calculate_content {
        padding: 50px 20px 40px;
    }
    .reviews_title {
        padding: 0 20px !important;
    }
    .reviews_title_left {
        margin: 0;
        padding: 0;
    }
    .rate__body {
        margin-top: 12px;
    }
    .rating-slider {
        margin-top: 20px;
    }
    .reviews_title .reviews_title_left p {
        display: block;
        max-width: 397px;
    }
    .reviews_title .reviews_title_left p img {
        margin-left: 16px;
        margin-bottom: -4px;
    }
    .rate__header h4 {
        margin-bottom: 4px;
    }
    .rate {
        background: #EAFAFF;
    }
    .rate__body {
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .prodoctorov {
        flex-direction: column;
    }
    .prodoctorov img:nth-child(2) {
        margin-top: 20px;
    }
    .reviews {
        padding: 40px 0 40px;
    }
    .video_container {
        display: flex;
        align-items: center;
        overflow-y: hidden;
    }
    .video_flex iframe {
        margin: 0 40px;
        width: 400px;
    }
    .video_container::-webkit-scrollbar {
        width: 0;
    }
    .video_reviews .container {
        padding: 0;
    }
    .video_flex {
        margin-top: 20px;
    }
    .video_reviews {
        padding: 30px 0 46px;
    }
    .questions_content {
        background-image: none;
    }
    .accordion_box {
        max-width: unset;
    }
    .accordion_box img {
        margin-left: 40px;
    }
    .questions {
        padding-top: 40px;
    }
    .experts {
        background: #F5F8FB;
        padding: 30px 0 33px;
    }
    .experts_content {
        padding: 30px 0;
    }
    .questions_content {
        margin-top: 50px;
    }
    .questions p {
        margin: 0 0 33px;
    }
    .clinicSwiper {
        padding: 20px 0 80px;
    }
    .photo {
        opacity: .1;
        bottom: -165px;
    }
}

@media (max-width: 680px) {
    .header,
    .tel_content {
        flex-direction: column;
    }
    .header {
        padding: 35px 20px 0;
    }
    .logo {
        padding-bottom: 17px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px 30px;
        border-bottom: 1px solid #17171716;
        margin-bottom: 11px;
    }
    .tel_btn {
        margin-left: 0;
        margin-top: 8px;
        padding: 12px 24px;
    }
    header {
        padding: 0;
    }
    .down_arrow {
        display: none;
    }
    .header_top {
        background-image: url(../img/header_bg2.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 100px;
    }
    .header_bottom {
        background-image: none;
        background-color: #fff;
    }
    .side_checkbox,
    .centr_checkbox {
        margin: 0;
    }
    .header_bottom_flex2 {
        display: flex;
        flex-direction: column;
    }
    .header_bottom_flex {
        justify-content: space-around;
    }
    .header_bottom_flex:nth-child(1) {
        margin-bottom: 26px;
    }
    .checkbox {
        align-items: center;
    }
    .header_bottom {
        height: auto;
        padding-bottom: 49px;
    }
    .header_section {
        background-image: url(../img/bg_2.png);
    }
    .header_content {
        padding: 140px 0px 0px;
    }
    #what_is_it {
        padding: 0 0 38px;
    }
    .readings_content {
        flex-direction: column;
    }
    .readings_box:nth-child(2) {
        margin: 20px 0;
    }
    .aesthetic_flex {
        flex-direction: column;
        align-items: center;
    }
    .aesthetic_img_absalut {
        position: relative;
        opacity: 1;
        width: 320px;
    }
    .aesthetic_side {
        align-items: center;
    }
    .aesthetic_box {
        margin: 0 auto;
        margin-bottom: 26px !important;
        text-align: center;
    }
    .aesthetic_left .aesthetic_box:nth-child(1) {
        margin: 0;
    }
    .aesthetic_box_side::after {
        right: unset;
        left: -19px;
    }
    .aesthetic_left .aesthetic_box {
        width: 280px;
        text-align: center;
    }
    .aesthetic_side button {
        margin: 0 auto;
        margin-top: 26px;
        margin-bottom: 50px;
    }
    .aesthetic_veneers {
        padding-top: 40px;
    }
    .installment {
        height: auto;
        padding: 30px 20px 0;
    }
    .install_img {
        position: relative;
        opacity: 1;
        width: 100%;
        margin-top: 20px;
    }
    .installment_title h2 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 19px;
        line-height: 120%;
    }
    .installment_title .green span {
        font-size: 32px;
    }
    .installment_title .green {
        margin: 20px 0 10px;
    }
    .installment_title p {
        font-size: 14px;
    }
    .installment_title button {
        padding: 16px 13px;
    }
    .patients-slider .swiper-wrapper img {
        width: 280px;
        height: 280px;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 20px;
        left: auto;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 20px;
    }
    .calculate_p {
        font-size: 14px;
        margin: 8px 0 19px;
        white-space: nowrap;
    }
    .reviews_title {
        flex-direction: column;
        text-align: center;
    }
    .reviews_title .reviews_title_left h2 {
        text-align: center;
    }
    .reviews_title_left {
        margin-bottom: 10px;
    }
    .reviews .container {
        padding: 0;
    }
    .prodoctorov img:nth-child(2) {
        width: 100%;
    }
    .questions h2,
    .questions p {
        text-align: start;
    }
    .quest_btn {
        margin-bottom: 20px !important;
    }
    .accordion {
        font-size: 14px;
    }
    .panel p {
        font-size: 14px;
    }
    .clinicSwiper .swiper-pagination {
        display: none;
    }
    .clinicSwiper {
        padding: 52px 0 118px;
    }
    .mobile_footer {
        display: block;
    }
    .footer {
        display: none;
    }
    .map_absolute {
        display: none;
    }
    .map {
        height: 658px;
    }
    .mobile_footer {
        background: #EEEEEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .mf_logo {
        margin-bottom: 35px;
    }
    .mobile_footer p,
    .mobile_footer a {
        width: 100%;
        max-width: 202px;
        display: flex;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
        color: #171717;
    }
    .mobile_footer img {
        margin-top: 2px;
        margin-right: 17px;
    }
    .mobile_footer button {
        background: none;
        border: 1px solid #49B3BF;
        border-radius: 50px;
        color: #171717;
        font-size: 10px;
        font-weight: 700;
        line-height: 200%;
        /* identical to box height, or 20px */
        letter-spacing: 0.25em;
        margin-bottom: 30px;
    }
    .bottom_p {
        text-align: center;
        max-width: unset !important;
        justify-content: center;
    }
    .photo {
        opacity: .1;
        bottom: -124px;
    }
    .service_cost_card {
        padding: 20px 20px;
    }
    .service_cost_card button {
        padding: 13px 22px;
        font-size: 13px;
        white-space: nowrap;
    }
    button {
        padding: 13px 22px;
    }
}

@media (max-width: 480px) {
    .point {
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .point_cont {
        justify-content: center;
        align-items: center;
    }
    .service_cost_card p {
        font-size: 14px;
    }
    .calculate h2 {
        font-size: 24px;
    }
    .calculate {
        padding: 34px 20px;
    }
    .rate__body {
        -webkit-line-clamp: 7;
    }
    .video_flex iframe {
        margin: 0 11px;
        width: 281px;
        height: 153px;
    }
    .video_reviews p {
        padding: 0 20px;
    }
    .experts h2,
    .experts .p_padd {
        padding: 0 20px;
    }
    .why_box {
        height: auto;
        padding-left: 22px;
        padding-right: 5px;
    }
    .why_box h4 {
        font-size: 16px;
    }
    .wiit_left img {
        width: 100%;
    }
    .wiit_box {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .wiit_box .wiit_img {
        margin-right: 0;
    }
    .photo {
        position: relative;
        width: 100%;
        opacity: 1;
        bottom: -50px;
    }
    .header_top {
        background-image: none;
        padding-bottom: 10px;
    }
    .header_bottom {
        padding-top: 30px;
    }
    .header_btn {
        flex-direction: column;
        align-items: center;
    }
    .header_btn button {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
}