@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1160px;
    display: block;
    margin: 0 auto;
}

.tel {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    display: flex;
    align-items: center;
}

.tel_p {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.7);
}

.tel_btn {
    font-weight: 700;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: 0.25em;
    color: #262626;
    padding: 12px 24px;
    border: 1px solid #49B3BF;
    border-radius: 50px;
    margin-left: 40px;
    background: transparent;
}

button {
    padding: 13px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2F80ED;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

h1 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #26252D;
}

.orange_span {
    color: #E65538;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #171717;
}

p .bold_span {
    font-weight: 600;
}

.blue {
    color: #2F80ED;
}


/* Шапка */

header {
    background: #fff;
    padding: 16px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tel_content {
    display: flex;
    align-items: center;
}

.tel_info {
    text-align: right;
}

.tel img {
    margin-right: 6px;
}


/* HEADER */

#header {
    min-height: 100vh;
}

.header_section {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header_content {
    padding: 118px 0px 65px;
    max-width: 512px;
}

.header_content h2,
h3,
h4 {
    color: #fff;
}

.header_content h1 {
    margin: 4px 0;
}

.header_content h3,
h4 {
    text-transform: uppercase;
}

.orange_btn {
    padding: 5px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    text-transform: uppercase;
    background: linear-gradient(0deg, #E65538, #E65538), linear-gradient(0deg, #FFFFFF, #FFFFFF), #DFBFE0;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    margin: 14px 0 45px;
}

.orange_btn span {
    font-weight: 600;
}

.header_btn {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.header_btn button {
    font-weight: 600;
    font-size: 13px;
    line-height: 200%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F80ED;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DFBFE0;
    border-radius: 50px;
    border: none;
    margin-right: 30px;
}

.header_btn a {
    font-weight: 600;
    font-size: 13px;
    line-height: 200%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.header_btn a img {
    margin-left: 12px;
}

.header_bottom {
    background-image: url(../img/bottom_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
}

.header_bottom .container {
    display: flex;
    justify-content: space-around;
}

.checkbox {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.check_top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #fff;
    padding: 4px;
    margin-bottom: 14px;
    max-width: 54px;
    margin: 0 auto;
}

.check_top img {
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(0deg, #2F80ED, #2F80ED), linear-gradient(109.68deg, #2F80ED 0.4%, #B2FFDA 97.34%), linear-gradient(301.43deg, #FF5C00 5.97%, #FF9C65 91.22%);
}

.checkbox p {
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.down_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50px;
    margin-top: 80px;
}

.side_checkbox {
    margin-top: 24px;
}

.centr_checkbox {
    margin-top: 67px;
}


/* Что такое виниры? */

#what_is_it {
    padding: 60px 0 68px;
}

.what_is_it {
    text-align: center;
}

.what_is_it h2 {
    margin-bottom: 20px;
}

.wiit_content {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.wiit_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wiit_left button {
    margin-top: 35px;
}

.wiit_right {}

.wiit_box {
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 30px;
    max-width: 660px;
}

.wiit_box .wiit_img {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(97, 106, 136, 0.12);
    border-radius: 100px;
    padding: 22px;
    margin-right: 40px;
}


/* ПОКАЗАНИЯ */

.readings {
    background: #F5F8FB;
    padding: 60px 0 70px;
}

.readings_title {
    max-width: 360px;
    margin-right: 60px;
    text-align: start;
}

.readings_title h2 {
    margin-bottom: 20px;
    text-align: start;
    font-size: 30px;
}

.readings_container {
    display: flex;
    align-items: center;
}

.readings_content {
    display: flex;
}

.readings_box {
    width: 200px;
    text-align: center;
}

.readings_box:nth-child(2) {
    margin: 0 40px;
}

.readings_img {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(97, 106, 136, 0.12);
    border-radius: 100px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}


/* Эстетичные виниры */

.aesthetic_veneers {
    padding: 70px 0;
}

.aesthetic_flex {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/aesthetic.svg);
    background-repeat: no-repeat;
    background-size: 460px 419px;
    background-position: center center;
    min-height: 419px;
}

.aesthetic_box {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(97, 106, 136, 0.12);
    border-radius: 20px;
    text-align: end;
    padding: 20px 30px;
    position: relative;
    max-width: 251px;
    white-space: nowrap;
}

.aesthetic_left .aesthetic_box:nth-child(1) {
    margin-bottom: 91px;
}


/* 
.aesthetic_left .aesthetic_box:nth-child(1)::after {
    content: url(../img/icon/aesth_1.svg);
    display: block;
    position: absolute;
    right: -182px;
    top: 42px;
}

.aesthetic_left .aesthetic_box:nth-child(2)::after {
    content: url(../img/icon/aesth_2.svg);
    display: block;
    position: absolute;
    right: -243px;
    top: -52px;
} */

.aesthetic_box::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: url(../img/icon/checkbox.png);
    width: 44px;
    height: 44px;
    top: -16px;
    left: -19px;
    background: linear-gradient(0deg, #2F80ED, #2F80ED), linear-gradient(109.68deg, #2F80ED 0.4%, #B2FFDA 97.34%), linear-gradient(301.43deg, #FF5C00 5.97%, #FF9C65 91.22%);
    border: 4px solid #FFFFFF;
    border-radius: 50px;
}

.aesthetic_box_side {
    margin-bottom: 94px;
    text-align: start;
}

.aesthetic_box_side::before {
    /* content: url(../img/icon/aesth_3.svg);
    display: block;
    position: absolute;
    left: -169px;
    top: 41px; */
    content: ' ';
    background: none;
}

.aesthetic_box_side::after {
    position: absolute;
    content: url(../img/icon/checkbox.png);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    top: -16px;
    right: -19px;
    background: linear-gradient(0deg, #2F80ED, #2F80ED), linear-gradient(109.68deg, #2F80ED 0.4%, #B2FFDA 97.34%), linear-gradient(301.43deg, #FF5C00 5.97%, #FF9C65 91.22%);
    border: 4px solid #FFFFFF;
    border-radius: 50px;
}


/* Почему нужно... */

.why {
    padding: 70px 100px;
    background: #F5F8FB;
}

.why_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 75px;
}

.why_box {
    width: 100%;
    max-width: 560px;
    height: 270px;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 30px;
}

.why_box h4 {
    max-width: 300px;
    font-size: 18px;
    color: #171717;
    margin-bottom: 25px;
    text-transform: none;
    line-height: 140%;
}

.why_box:nth-child(1) p {
    max-width: 280px;
}

.why_box:nth-child(1) {
    margin-right: 20px;
    background-image: url(../img/why_1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.why_box:nth-child(2) {
    background-image: url(../img/why_2.png);
    background-repeat: no-repeat;
    background-position: right;
}

.why_box:nth-child(2) p {
    max-width: 240px;
}

.point_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.point_cont:nth-child(2) {
    margin-top: 70px;
}

.point_cont .point {
    display: flex;
    align-items: center;
    width: 383px;
}

.point_cont .point:nth-child(2) {
    width: 338px;
}

.point_cont .point:nth-child(5) {
    width: 338px;
}

.point_cont .point .point_num {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F1F1F1;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #2F80ED;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 20px;
}

.point_cont .point h4 {
    color: #000;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
}


/* Расрочка */

.installment_container {
    padding: 90px 0 0 0;
}

.installment {
    background: #F2F6F8;
    border-radius: 20px;
    height: 400px;
    padding: 40px 60px 43px;
    position: relative;
    z-index: 20;
}

.installment_title {
    max-width: 600px;
}

.installment_title h2 {
    text-align: start;
}

.p_check {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.p_check img {
    margin-right: 12px;
}

.installment_title p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #171717;
}

.green {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #00B290;
    margin: 8px 0 6px;
}

.green span {
    font-size: 60px;
}

.installment_title button {
    margin-top: 20px;
    font-weight: 700;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.installment_title button img {
    margin-left: 16px;
}

.install_img {
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: -16px;
}


/* Бузупречные улыбки */

.should_be {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.patients-slider {
    overflow-x: hidden;
    padding-bottom: 32px;
}

.patients-slider .swiper-slide {
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patients-slider img {
    width: 460px;
    height: 460px;
    border-radius: 25px;
}

.patients .swiper-slide-duplicate-prev,
.patients .swiper-slide-duplicate-next,
.patients .swiper-slider {
    opacity: 0.25;
}

.patients .swiper-button-next:after,
.patients .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "" !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 410px;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 410px;
}

.patients .swiper-button-next,
.patients .swiper-rtl .swiper-button-prev {
    right: 47px !important;
}

.patients .swiper-button-prev,
.patients .swiper-rtl .swiper-button-next {
    left: 47px !important;
}

.patients-button-prev img,
.patients-button-next img {
    width: 62px;
    height: 58px;
    border-radius: 0;
}

.should_be_slider {
    width: 100%;
    margin: 52px 0;
}

.should_be_slider .swiper-slide-next,
.should_be_slider .swiper-slide-prev {
    opacity: .3;
}

.should_be_slider .swiper-pagination {
    bottom: 0;
}


/* Стоймость услуг */

.service_cost {
    background: linear-gradient(0deg, #F5F8FB, #F5F8FB), #FFFFFF;
    padding: 53px 0 92px;
}

.service_cost_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.service_cost_card {
    padding: 40px 75px 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(97, 106, 136, 0.12);
    border-radius: 20px;
    max-width: 560px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 970px;
}

.service_cost_card h3 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 30px;
}

.service_cost_card p {
    font-size: 15px;
    line-height: 155%;
    margin-bottom: 30px;
}

.service_cost_card h5 {
    margin-bottom: 8px;
}

.service_cost_card_bottom h2:nth-child(1) {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    color: #888888;
}

.service_cost_card_bottom .green {
    margin: 10px 0 30px;
    letter-spacing: 0.05em;
    font-size: 32px;
    line-height: 150%;
}


/* Налоговой высчет */

.calculate_content {
    padding: 80px 0 0;
}

.calculate {
    min-height: 340px;
    background: #F2F6F8;
    border-radius: 20px;
    background-image: url(../img/calculate.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    padding: 60px;
    text-align: start;
}

.calculate h2 {
    text-align: start;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
}

.calculate_p {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height, or 129% */
    /* text_black */
    color: #171717;
    margin: 8px 0 30px;
}

.calculate_p .bold {
    font-weight: 600;
}

.form_container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.form_container input {
    padding: 16.5px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    outline: none;
}

.form_container input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.form_container input:nth-child(1) {
    width: 100%;
    max-width: 332px;
}

.form_container input:nth-child(2) {
    width: 100%;
    max-width: 250px;
    margin: 0 10px;
}

.form_container select {
    width: 100%;
    max-width: 250px;
    color: rgba(0, 0, 0, 1);
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    outline: none;
    padding: 16.5px 20px;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #333333;
    margin-right: 10px;
}

.form_container select:not([multiple]) {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
}

select::-ms-expand {
    display: none;
}

.form_container button {
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    white-space: nowrap;
    border: none;
    text-transform: none;
}

.politic_p,
.politic_p a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: rgba(23, 23, 23, 0.6);
    margin-top: 20px;
}

.politic_p a {
    text-decoration: underline;
}


/* Отзывы */

.reviews {
    padding: 70px 0 70px;
}

.reviews_title {
    padding: 0 70px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews_title .reviews_title_left h2 {
    text-align: start;
    margin-bottom: 10px;
}

.reviews_title .reviews_title_left p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #171717;
    display: flex;
    align-items: center;
}

.reviews_title .reviews_title_left p img {
    margin-left: 16px;
}

.reviews_title_left {
    padding-bottom: 24px;
    margin-bottom: 20px;
}

.reviews .swiper-slide {
    transition: 0.5s all;
}

.reviews .swiper-wrapper {
    box-sizing: border-box;
    margin-left: 17.5%;
}

.reviews .swiper-slide {
    opacity: 0.5;
}

.reviews .swiper-slide-active {
    opacity: 1;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 30px;
}

.rate {
    background: #FFFFFE;
    font-size: 16px;
    line-height: 21px;
    filter: drop-shadow(0px 1.15911px 6.42145px rgba(22, 21, 21, 0.09));
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
}

.rate.swiper-slide {
    height: 100%;
    max-height: 330px;
    min-height: 330px;
    max-width: 656px;
}

.rate__header {
    display: flex;
}

.rate__header h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #383838;
    text-transform: none;
    margin-bottom: 14px;
}

.rate__header p {
    font-size: 16px;
    line-height: 20px;
}

.rate__header-row span {
    color: #ffcd0d;
}

.rate__header-column:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rate__body {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #383838;
}

.reviews .swiper-slide-duplicate-prev,
.reviews .swiper-slide-duplicate-next,
.reviews .swiper-slider {
    opacity: 0.25;
}

.reviews .swiper-button-next:after,
.reviews .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "" !important;
}

.reviews .swiper-button-next,
.reviews .swiper-rtl .swiper-button-prev {
    right: 20px !important;
}

.reviews .swiper-button-prev,
.reviews .swiper-rtl .swiper-button-next {
    left: 20px !important;
}

.patients-button-prev img,
.patients-button-next img {
    width: 62px;
    height: 58px;
    border-radius: 0;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "" !important;
}


/* ПРОДОКТОРОВ */

.prodoctorov {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 17px 0 76px;
}


/* Видео отзывы */

.video_reviews {
    background: #F5F8FB;
    padding: 60px 0 100px;
    text-align: center;
}

.video_reviews p {
    margin: 10px 0 7px;
}

.video_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.video_flex iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}


/* Часто задаваемые вопросы */

.questions {
    padding: 70px 0 0;
}

.questions p {
    text-align: center;
    margin: 10px 0 40px;
}

.questions .quest_btn {
    margin: 0 auto;
    font-size: 13px;
    line-height: 200%;
    /* identical to box height, or 26px */
    letter-spacing: 0.05em;
}

.questions_content {
    padding: 60px 0 12px;
    background-image: url(../img/quest.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 429px 431px;
}

.accordion_box {
    width: 100%;
    max-width: 660px;
    border-top: 1px solid #EEEEEE;
}

.accordion {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    /* or 135% */
    display: flex;
    align-items: center;
    /* text_black */
    color: #171717;
    text-transform: none;
    border-radius: unset;
    padding: 12px 0
}


/* .accordion:hover {
    background-color: #f1efef;
} */

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel p {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: start;
}

.active img {
    transition: 0.4s;
    transform: rotate(180deg);
}

.active:active img {
    transition: 0.4s;
    transform: rotate(-180deg);
}


/* Специалисты */

.experts {
    padding: 70px 0 58px;
    text-align: center;
}

.experts h2 {
    margin-bottom: 10px;
}

.experts button {
    font-size: 13px;
    line-height: 200%;
    /* identical to box height, or 26px */
    letter-spacing: 0.05em;
    margin: 0 auto;
}

.experts_content {
    display: flex;
    justify-content: space-between;
    padding: 43px 0 58px;
}

.experts_card {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    min-height: 500px;
    max-width: 275px;
}

.experts_card_info {
    padding: 16px 20px;
    text-align: start;
}

.experts_card_info img {
    width: 100%;
}

.experts_card_info h5 {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: #444444;
    margin-bottom: 15px;
}

.experts_card_info ul {
    padding-left: 20px;
}

.experts_card_info ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}


/* Клиника */

.clinic {
    padding: 21px 0 0;
}

.clinicSwiper .swiper {
    width: 100%;
    height: 100%;
}

.clinicSwiper {
    padding: 52px 0 118px;
}

.clinicSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 222px;
    max-width: 358px;
}

.clinicSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clinicSwiper .swiper-pagination {
    bottom: 70px;
}

.clinicSwiper .swiper-pagination .swiper-pagination-bullet {
    margin: 0 13.5px;
}

.clinicSwiper .swiper-button-next,
.clinicSwiper .swiper-button-prev {
    top: 165px;
    opacity: 1;
}

.clinicSwiper .swiper-button-next {
    right: 0;
}

.clinicSwiper .swiper-button-prev {
    left: 0;
}


/* Карта */

.map {
    position: relative;
    height: 600px;
}

.map_absolute {
    padding: 57px 80px 67px 60px;
    position: absolute;
    top: 50%;
    left: 165px;
    transform: translateY(-50%);
    border-radius: 25px;
    background-color: white;
    z-index: +1;
}

.map h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    /* or 100% */
    display: flex;
    align-items: center;
    /* text_black */
    color: #171717;
    margin-bottom: 34px;
    text-align: start;
}

.info__item {
    display: flex;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */
    display: flex;
    align-items: center;
    color: #0A0A0A;
}

.info__item a {
    color: #0C65B8;
}

.info__item:last-child {
    margin-bottom: 28px;
}

.info__item img {
    margin-right: 13px;
}


/* Футер */

footer {
    background: #EEEEEE;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.side_footer h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #111111;
    margin-bottom: 8px;
    text-transform: none;
}

.side_footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
    margin-bottom: 14px;
}

.side_footer a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
    margin-bottom: 10px;
}

.side_footer a img {
    margin-right: 10px;
}

.center_footer img {
    margin-top: -15px;
}

.center_footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
    text-align: center;
    margin-top: 20px;
}

.center_footer p span {
    font-size: 18px;
}


/* section {
    display: none;
}

.block {
    display: block;
} */